<div th:replace="~{ app :: layout ('首页', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div id="main">
        <div class="site-info text-center">
            <h1 class="site-title animate__animated animate__delay-4s animate__swing">LMS</h1>
            <div id="typed-strings">
                <p class="site-subtitle lead text-muted">这里收集了精心制作的在线学习资源，方便系统性学习、复习、分享。</p>
            </div>
            <span class="site-subtitle lead text-muted" id="typed"></span>
        </div>

        <div class="features mt-2rem mb-2rem">
            <div class="feature">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center text-lg-left align-self-center">
                            <h3 class="feature-title">视频</h3>
                            <p class="lead text-muted">精心制作的视频合集，便于学习</p>
                        </div>
                        <div class="col-lg-6 mt-3 mt-lg-0">
                            <div class="text-center" data-aos="zoom-in">
                                <img class="img-fluid shadow" th:src="@{/img/about/videos.png}" alt="posts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>